<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ9H_q_eEb4r23ypc6ZxWUOVALXk9ke0M</string>
	<key>GCM_SENDER_ID</key>
	<string>87514081140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterfire</string>
	<key>PROJECT_ID</key>
	<string>connectapp-ec74a</string>
	<key>STORAGE_BUCKET</key>
	<string>connectapp-ec74a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87514081140:ios:f4f5a0b24e73ed1ff26e21</string>
</dict>
</plist>